.welcome-card{

background:linear-gradient(135deg,#2563EB,#3B82F6);

padding:35px;

border-radius:18px;

color:white;

margin-bottom:35px;

box-shadow:0 12px 30px rgba(37,99,235,.3);

}

.welcome-card h1{

font-size:34px;

font-weight:700;

margin-bottom:10px;

}

.welcome-card p{

font-size:18px;

opacity:.9;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

gap:25px;

margin-bottom:40px;

}

.stat-card{

background:white;

border-radius:18px;

padding:25px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 8px 25px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.stat-card:hover{

transform:translateY(-6px);

}

.stat-card h4{

color:gray;

margin-bottom:10px;

}

.stat-card h2{

font-size:32px;

font-weight:700;

}

.stat-icon{

width:65px;

height:65px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:28px;

}

.recent-card{

background:white;

padding:30px;

border-radius:18px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.recent-card h3{

margin-bottom:20px;

}

.recent-card table{

width:100%;

border-collapse:collapse;

}

.recent-card th{

background:#2563EB;

color:white;

padding:15px;

}

.recent-card td{

padding:15px;

border-bottom:1px solid #ddd;

}

.recent-card tr:hover{

background:#F3F4F6;

}