*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#f4f7fb;

}

.dashboard{

display:flex;

min-height:100vh;

}

.sidebar{

width:250px;

background:#111827;

color:white;

display:flex;

flex-direction:column;

padding:30px 20px;

}

.logo{

text-align:center;

margin-bottom:40px;

font-size:28px;

font-weight:700;

color:#60a5fa;

}

.menu{

display:flex;

align-items:center;

gap:15px;

padding:14px 18px;

border-radius:10px;

color:white;

text-decoration:none;

margin-bottom:10px;

transition:.3s;

font-size:16px;

}

.menu:hover{

background:#2563eb;

}

.active{

background:#2563eb;

}

.logout{

margin-top:auto;

background:#ef4444;

border:none;

padding:12px;

color:white;

border-radius:10px;

cursor:pointer;

font-size:16px;

}

.main{

flex:1;

display:flex;

flex-direction:column;

}

.topbar{

background:white;

padding:20px 40px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.top-icons{

display:flex;

gap:20px;

}

.icon{

font-size:28px;

color:#2563eb;

cursor:pointer;

}

.page{

padding:40px;

}
.menu-list{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:25px;
}

.logout-btn{

    margin-top:auto;

    width:100%;

    border:none;

    background:#ef4444;

    color:white;

    padding:14px;

    border-radius:12px;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    font-size:16px;

    font-weight:600;

    transition:.3s;

}

.logout-btn:hover{

    background:#dc2626;

    transform:translateY(-2px);

}